.front-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

/* POST CAROUSEL */

.post-carousel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.recent-post-image {
  display: flex;
  width: 50%;
  z-index: 0;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.recent-post-image i {
  position: relative;
  z-index: 2;
  top: 50%;
  color: whitesmoke;
  text-shadow: 0 0 3px #000;
  opacity: 80%;
  font-size: 2rem;
}
.post-image {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
}

#fade-in-animation {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.recent-post-image #chevron-right {
  right: 10%;
}

.recent-post-image #chevron-left {
  right: 92%;
}

#chevron-right:hover,
#chevron-left:hover {
  cursor: pointer;
  color: #ffb5a7;
  transition: all 0.3s ease-in-out;
}


.recent-post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.recent-post-info .date-banner {
    background-color: #f8edeb;
    padding: 10px 15px;
}

.recent-post-info h3 {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.recent-post-info button {
    background-color: #FFB5A7;
    padding: 10px 20px;
    border: none;
    font-weight:100;
    color: black;
}
 
.recent-post-info button:hover,  .start-here-container button:hover, .patreon-container button:hover {
    background-color: #FEC89A;
    transform: scale(1.1);
}

/* POPULAR TUTORIALS */
.popular-tutorials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.popular-tutorials h2 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 20px;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  border-left: 2px dashed #ffb5a7;
}

.blog-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  max-width: 700px;
}

.blog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  max-width: 300px;
  text-align: center;
}

.blog-card-img img {
  width: 100%;
  max-width: 180px;
  margin: 0;
  aspect-ratio: 1/1;
  height: auto;
}

.blog-card-img {
  aspect-ratio: 1/1 auto;
  max-height: 180px;
}

.blog-card-title,
.featured-blog-card-title {
  font-family: "Myriad Pro";
  text-transform: uppercase;
}

.featured-blog-card,
.featured-blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-blog-card {
  padding: 20px 50px;
}

.featured-blog-card-img {
  aspect-ratio: 1/1 auto;
  max-width: 600px;
  margin-bottom: 20px;
}

.learn-to-embroider-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    min-height: 600px;
}

.contents {
    display: flex;
    width: 52%;
    background-color: #F8EDEB;
    max-height: 800px;
}

.start-here-container {
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    background-color: #FFB5A7;
    max-height: 800px;
}

.start-here-info {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 80px 80px;
    border-radius: 20px;
}

.start-here-info h2 {
    text-transform: uppercase;
}

.start-here-info p {
    max-width: 515px;
    font-size: 1.3rem;
}

.start-here-info button {
    background-color: #FEC89A;
    color: black;
    padding: 10px 60px;
}

.background {
    transform: translateZ(-10px) scale(1.5);
}

.contents .image-container {
    display: flex;
    width: 100%;
    position: relative
}

.scissors {
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: auto;
    z-index: 1;
    overflow: visible;
    left: 0px;
    top: -20%; 
}

.patreon-container {
    background-image: url("https://crewelghoul.com/wp-content/uploads/2023/11/hoop.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.patreon-container h2 {
    margin-top: 60px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.patreon-container p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}


.patreon-container a button {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    margin: 0 auto;
    width: 20%;
    background-color: #FFB5A7;
    color: white;
    font-size: 1.2em;
}

.patreon-container a:hover {
    text-decoration: none;
}

.patreon-container a button:hover {
    color: black;
}

@media only screen and (max-width: 1200px){
    .scissors {
        top: -10%;
    }

    .start-here-container, .start-here-info {
        padding: 30px 30px;
    }

    .patreon-container p {
        background-color: #ffffff85
    }
}

@media only screen and (max-width: 961px) {

    .post-carousel-container {
        flex-direction: column;
        justify-content: space-between;
        z-index: 0;
        padding-bottom: 0;
    }

    .recent-post-info {
        position: absolute;
        top: 22%;
        right: 25%;
        z-index: 1;
    }

    .recent-post-image #chevron-right, .recent-post-image #chevron-left {
        position: static;
        display: flex;
        align-items: center;
      }
      
      .recent-post-image #chevron-left {
        right: 92%;
      }

    .recent-post-info h3 {
        font-size: 1.1em;
        text-align: center;
        min-height: 70px;
    }

    .recent-post-image {
        width: 100%;
        height: 100%;
        max-height: 350px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0px 30px;
    }

    .post-image {
       display: none;
    }

    .post-container, .blog-card {
        flex-direction: column;
    }

    .blog-card-container {
        border-left: none;
    }

    .scissors, .contents {
        display: none;
    }

    .start-here-container, .start-here-info {
        width: 100%;
        padding: 30px 30px;
        max-height: 450px;
    }

    .start-here-container button {
        background-color: #FEC89A;
        color: black;
    }

    .mobile-scissors {
        background-image: url("https://crewelghoul.com/wp-content/uploads/2023/11/hoop-2.png");
        background-repeat: no-repeat;
        min-height: 40vh;
        background-size: cover;
        background-position: 35% 25%;
    }

    .patreon-container {
        justify-content: flex-start;
    }

    .patreon-container a button {
        width: 35%;
    }
}

@media only screen and (max-width: 430px) {
    .recent-post-info {
        top: 25%;
    }

    .start-here-info button {
        padding: 10px 10px;
    }
    .start-here-info {
        padding: 10px 15px;
    }
    .patreon-container {
        background-size:cover;
        background-position: 25% 25%;
        position: relative;
        opacity: 0.85;
        margin-top: 10px;
    }

    .patreon-container h2 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 5px;
        text-shadow: 1px 1px 2px rgb(183, 161, 161);
        margin-bottom: 40px;
        font-size: 1.7rem;
        text-align: center;
    }

    .patreon-container p {
        display: none;
    }
    .patreon-container a button {
        position: absolute;
        top: 80%;
        left: 15%;
        width: 60%;
    }

}